*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.form{
        background-color: rebeccapurple;
        border-radius: 5px;
         background-color: #f2f2f2;
         padding: 20px;
         margin: auto;
}

input[type="text"],input[type="email"],input[type="number"]{
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 12px;
        resize: vertical;
}
label {
        padding: 12px 12px 12px 0;
        display: inline-block;
        text-decoration: underline;
      }
label:hover{
        cursor: pointer;
}
.col25 {
        float: left;
        width: 25%;
        margin-top: 6px;
 }
      
 .col75 {
        float: left;
        width: 75%;
        margin-top: 6px;
}
.row:after {
        content: "";
        display: table;
        clear: both;
      }
.btn{
        display: flex;
        flex-direction: row;
        justify-content: center;
}
.btnGet,.btnPost,.btnUpdate{
        padding: 10px 24px;
        margin-top: 4px;
        margin-left:8px;
}
.btnGet,.btnPost,.btnUpdate:hover{
        cursor: pointer;
}
.btnGet{
        background-color: orange
}
.btnPost{
        background-color: yellowgreen;
}
.btnUpdate{
        background-color: green;
}